/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 4, sass/_partials/typography.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 30px;
}

/**
  * Typography
  */
/* line 14, sass/_partials/typography.scss */
html {
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Responsive type
 */
@media screen and (min-width: 400px) {
  /* line 33, sass/_partials/typography.scss */
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 640px) {
  /* line 36, sass/_partials/typography.scss */
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 728px) {
  /* line 39, sass/_partials/typography.scss */
  html {
    font-size: 20px;
  }
}
/* line 42, sass/_partials/typography.scss */
strong {
  font-weight: 700;
}

/**
 * Headings
 */
/* line 49, sass/_partials/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* line 56, sass/_partials/typography.scss */
h1 {
  font-size: 2em;
  text-align: center;
}

/* line 60, sass/_partials/typography.scss */
h2 {
  font-size: 1.7em;
  text-align: center;
}

/* line 64, sass/_partials/typography.scss */
h4 {
  font-style: italic;
}

/* line 67, sass/_partials/typography.scss */
h5 {
  font-size: 14.875px;
}

/* line 71, sass/_partials/typography.scss */
h6 {
  font-size: 14.875px;
  font-style: italic;
}

/* line 76, sass/_partials/typography.scss */
h1.logo {
  font-size: inherit;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
}

/* line 83, sass/_partials/typography.scss */
.mono {
  font-family: "Source Code Pro", monospace;
}

/**
 * Links
 */
/* line 90, sass/_partials/typography.scss */
a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid;
}
/* line 94, sass/_partials/typography.scss */
a:visited {
  color: #262626;
}

/* line 101, sass/_partials/typography.scss */
.logo a {
  border-bottom: none;
}

/**
 * Blockquotes
 */
/* line 108, sass/_partials/typography.scss */
blockquote {
  font-style: italic;
}
/* line 110, sass/_partials/typography.scss */
blockquote > em {
  font-style: normal;
}

/**
 * Lists
 */
/* line 118, sass/_partials/typography.scss */
ul, ol {
  margin-left: 30px;
  text-align: left;
}

/* line 124, sass/_partials/typography.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 133, sass/_partials/typography.scss */
pre,
code {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  text-align: left;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #eef;
}

/* line 142, sass/_partials/typography.scss */
code {
  font-size: 0.9rem;
  padding: 1px 3px;
}

/* line 146, sass/_partials/typography.scss */
pre {
  padding: 30px;
  overflow-x: auto;
  white-space: pre-wrap;
}
/* line 150, sass/_partials/typography.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Tables
 */
/* line 160, sass/_partials/typography.scss */
th, td {
  padding: 4.25px;
}

/**
 * Clearfix
 */
/* line 175, sass/_partials/typography.scss */
span.date, span.author {
  font-family: "Source Code Pro", monospace;
  font-size: 14.875px;
}

/* line 1, sass/_partials/layout.scss */
blockquote,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
address {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 728px;
  margin-left: auto;
  margin-right: auto;
}

/* line 24, sass/_partials/layout.scss */
article p {
  text-align: justify;
  text-justify: inter-word;
}

/* line 30, sass/_partials/layout.scss */
hr {
  margin: 30px auto;
  border: none;
}

/* line 34, sass/_partials/layout.scss */
hr::after {
  content: "* * *";
  display: block;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

/**
 * Images
 */
/* line 43, sass/_partials/layout.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  padding: 15px;
}

/**
  * Videos
  */
/**
  * Blockquotes
  */
/* line 54, sass/_partials/layout.scss */
blockquote {
  padding-left: 30px;
}
/* line 56, sass/_partials/layout.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
  * Lists
  */
/**
  * Header
  */
/* line 66, sass/_partials/layout.scss */
h1.logo {
  margin: 90px auto;
}

/**
  * Footer
  */
