body {
  position: relative;
}

blockquote,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
address {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

article p {
  text-align: justify;
  text-justify: inter-word;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    padding: $spacing-unit / 2;
}
/**
  * Videos
  */


/**
  * Header
  */
h1.logo {
  margin: $huge-space auto;
}

div.background-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  font-size: 10vw;
  color: $grey-color-light;

}


/**
  * Footer
  */
