body {
  position: relative;
}

article, aside, footer {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Images
 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

dl.gallery-item {
  display: inline-block;
}
dt.gallery-icon {
  float: left;
}

.alignleft {
  float: left;
  padding: $spacing-unit / 2;
}
.alignright {
  float: right;
  padding: $spacing-unit / 2;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.alignnone {
  margin-left: auto;
  margin-right: auto;
}

/**
  * Videos
  */

/**
 * Tables
 */
th, td {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  padding: $base-font-size / 4;
  border: 1px solid;
}
table {
  margin-bottom: $spacing-unit;
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
  * Header
  */
h1.logo {
  margin: $huge-space auto;
}

div.background-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  font-size: 10vw;
  color: $grey-color-light;

}


/**
  * Footer
  */
